{% include header.html %}
    <div class="wrapper">
      <header>
        <h1>Nikhil Verma</h1>
        <p><a href="https://twitter.com/NikhilVerma">@NikhilVerma</a></p>
        <p><a href="https://github.com/NikhilVerma">Github</a></p>
        <p><a href="https://linkedin.com/in/nikhilverma7">LinkedIn</a></p>
        <p>With over seven years of experience in five different countries, I am a web developer and a designer who is passionate about latest technologies and good user experiences.</p>
        <h3>Links</h3>
        <a href="/experiments/common_colours/">Common colours from an image</a>
        <br/>
        <a href="http://techblog.badoo.com/blog/2013/11/18/5-advanced-javascript-and-web-debugging-techniques-you-should-know-about/" target="_blank">Advanced Javascript debugging techniques</a>
        <br/>
        <a href="http://techblog.badoo.com/blog/2013/07/08/fixed-headers-in-mobile-webapps/" target="_blank">Fixed headers in mobile webapps</a>
      </header>

      {{ content }}

    </div>
{% include footer.html %}