{% include header.html %}
    <div class="wrapper">
      <header>
        <h1>Nikhil Verma</h1>
        <p><a href="mailto:nikhilgotmail@gmail.com">nikhilgotmail@gmail.com</a></p>
        <p>With over seven years of experience in five different countries, I am a web developer and a designer who is passionate about the latest technologies and good user experiences.</p>
        <h3>Links</h3>
        <a href="/experiments/common_colours/">Common Colours From an Image</a>
      </header>

      {{ content }}

    </div>
{% include footer.html %}